# Default ignored files
/shelf/
/workspace.xml

.idea/
*.iml
*.iws

# Archivos de compilación
out/
target/
bin/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log

# Config de usuario
*.swp
*.swo
*.bak